@import url(./reset.css);
@import url(./variable.css);
body {
    background-image: url(/img/unknwn.png);
    background-color: white;
}

header,
nav {
    background-image: url(/img/unknown.png);
}

.navbar,
.banner,
.movies,
.category,
.live {
    padding: 0;
}

.logo-text {
    color: white;
    margin-right: 100px;
    margin-left: -200px;
    font-size: 30px;
}

.section-heading {
    font-size: var(--section-heading);
    font-weight: var(--fw-5);
    margin-bottom: 60px;
}


/*-------------------------------------*\
  #MAIN
\*-------------------------------------*/


/**
 * main container style 
 */

.container {
    background: url(/img/unknown.png);
    max-width: 100%;
    height: 95vh;
    margin: auto;
}


/*-------------------------------------*\
  #NAVBAR
\*-------------------------------------*/


/**
 * navbar style 
 */

.navbar {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url(/img/unknown.png);
}


/**
 * small screen menu button style 
 */

.navbar-menu-btn {
    display: contents;
    color: white;
    background-color: white;
    background-image: url(/img/unknown.png);
}


/**
 * navbar navigation style 
 */

nav {
    margin-right: 00px;
    background: url(/img/unknown.png);
}

.navbar-nav {
    display: flex;
    margin-left: 400px;
    background: url(/img/unknown.png);
}

.navbar-nav li:not(:last-child) {
    margin-right: 60px;
}

.navbar-link {
    font-size: var(--fs-md);
    font-weight: var(--fw-7);
    background: url(/img/unknown.png);
}

.navbar-link:hover {
    color: var(--white);
}


/**
 * navbar form & button style 
 */

.navbar-actions {
    display: flex;
    align-items: center;
    margin-right: 100px;
    background: url(/img/unknown.png);
}

.navbar-form {
    position: relative;
    margin-right: 80px;
}

.navbar-form-search {
    background: white;
    width: 100%;
    padding: 12px 20px;
    border-radius: 15px;
    color: black;
    font-size: var(--fs-sm);
    font-weight: var(--fw-5);
}

.navbar-form-btn {
    background: var(--oxford-blue);
    position: absolute;
    top: calc(50% - 10px);
    right: 10px;
}

.navbar-form-btn ion-icon,
.navbar-search-btn ion-icon {
    font-size: 20px;
    color: var(--light-azure);
    --ionicon-stroke-width: 50px;
}

.navbar-form-btn:hover ion-icon,
.navbar-form-search::placeholder {
    color: var(--oxford-blue);
}


/**
 * navbar-form close button & navbar search button
 * for small device 
 */

.navbar-form-close,
.navbar-search-btn {
    display: none;
}

.navbar-signin {
    display: flex;
    align-items: center;
    font-size: var(--fs-md);
    font-weight: var(--fw-7);
}

.navbar-signin ion-icon {
    font-size: 22px;
    background-image: url(/img/unknown.png);
    margin-left: 5px;
    --ionicon-stroke-width: 30px;
}

.navbar-signin:hover span {
    color: var(--light-azure);
}

.anim-pic-1 {
    transform: scale(0.65);
}

.anim-pic-2 {
    transform: scale(0.7)
}

.anim-pic-3 {
    transform: scale(0.55)
}

.anim-pic-4 {
    transform: scale(0.4)
}

.anim-pic-5 {
    transform: scale(0.17)
}

.anim-pic-con1 {
    opacity: 1;
    margin-top: -50px;
    margin-bottom: -450px;
    margin-left: 700px;
    background: url(/img/unknown.png);
    border: none;
}

.anim-pic-con2 {
    opacity: 0.1;
    margin-bottom: -550px;
    margin-left: 850px;
    background: url(/img/unknown.png);
    border: none;
}

.anim-pic-con3 {
    color: var(--white);
    opacity: 0.2;
    margin-bottom: -850px;
    margin-left: 700px;
    border: none;
}

.anim-pic-con4 {
    color: var(--white);
    opacity: 1;
    margin-top: 300px;
    margin-left: 940px;
    border: none;
}

.anim-pic-con5 {
    color: var(--white);
    opacity: 1;
    margin-top: -480px;
    margin-left: 500px;
    border: none;
}

.land-text {
    margin-top: -650px;
    margin-bottom: 900px;
    margin-right: 800px;
    margin-left: 100px;
    background: url(/img/unknown.png);
}

.skincare {
    color: black;
    font-size: 80px;
}

.tagline {
    color: black;
    margin-bottom: 10px;
}

.container2 {
    margin-top: 0px;
    background-color: white;
    width: 100%;
}

.expired-soon {
    font-size: var(--fs-lg);
    font-weight: var(--fw-7);
    padding-top: 150px;
    margin-left: 150px;
}

.prods1 {
    background: url(/img/unknown.png);
    width: 400px;
    height: 100px;
    border-radius: 10px;
    margin-top: 25px;
    margin-left: 150px;
    margin-bottom: 80px;
}

.prods1img {
    width: 70px;
    height: 70px;
    margin-left: 170px;
    margin-top: -165px;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 10px;
}

.prod1text {
    margin-bottom: -45px;
    margin-top: -95px;
    margin-left: 250px;
}

.prod1text2 {
    font-size: var(--fs-sm);
    margin-bottom: -90px;
    margin-top: 50px;
    margin-left: 250px;
}

.prod1text3 {
    font-size: var(--fs-sm);
    margin-bottom: -20px;
    margin-top: 95px;
    margin-left: 250px;
}

.prods2 {
    background: url(/img/unknown.png);
    width: 400px;
    height: 100px;
    border-radius: 10px;
    margin-top: 80px;
    margin-left: 150px;
    margin-bottom: 400px;
}

.prods2img {
    width: 70px;
    height: 70px;
    margin-left: 170px;
    margin-top: -485px;
    margin-bottom: 400px;
    background-color: white;
    border-radius: 10px;
}

.prod2text {
    margin-bottom: -45px;
    margin-top: -465px;
    margin-left: 250px;
}

.prod2text2 {
    font-size: var(--fs-sm);
    margin-bottom: -90px;
    margin-top: 50px;
    margin-left: 250px;
}

.prod2text3 {
    font-size: var(--fs-sm);
    margin-bottom: 65px;
    margin-top: 95px;
    margin-left: 250px;
}

.prods3 {
    background: url(/img/unknown.png);
    width: 400px;
    height: 100px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 150px;
    margin-bottom: 210px;
}

.prods3img {
    width: 70px;
    height: 70px;
    margin-left: 170px;
    margin-top: -295px;
    margin-bottom: 338px;
    background-color: white;
    border-radius: 10px;
}

.prod3text {
    margin-bottom: -45px;
    margin-top: -405px;
    margin-left: 250px;
}

.prod3text2 {
    font-size: var(--fs-sm);
    margin-bottom: -90px;
    margin-top: 50px;
    margin-left: 250px;
}

.prod3text3 {
    font-size: var(--fs-sm);
    margin-bottom: 10px;
    margin-top: 95px;
    margin-left: 250px;
}

.reviewmainbox {
    margin-left: 600px;
    margin-top: -390px;
    margin-bottom: 200px;
    width: 300px;
    height: 400px;
    background: url(/img/unknown.png)
}

.elipse {
    transform: scale(1);
    width: 175px;
    height: 173px;
    margin-top: -550px;
    margin-left: 660px
}

.bot1 {
    transform: scale(0.6);
    width: 150px;
    height: 200x;
    margin-top: -200px;
    margin-left: 670px
}

.revmate {
    margin-left: 670px;
}

.line {
    height: 1px;
    width: 100px;
    background-color: gray;
    margin-left: 700px;
    margin-top: 15px;
}

.revtext {
    font-size: 26px;
    font-weight: 800;
    margin-left: 690px;
    margin-top: 10px;
    color: red;
}

.revtext2 {
    font-size: 14px;
    margin-left: 715px;
    margin-top: 0px;
    color: black;
}

#button {
    margin-left: 690px;
    margin-top: 15px;
    background-color: blueviolet;
    padding: 10px;
    border-radius: 20px;
}

.reviewmainbox2 {
    margin-left: 960px;
    margin-top: -390px;
    margin-bottom: 200px;
    width: 300px;
    height: 400px;
    background: url(/img/unknown.png)
}

.elipse2 {
    transform: scale(1);
    width: 175px;
    height: 173px;
    margin-top: -550px;
    margin-left: 1030px
}

.bot12 {
    transform: scale(0.6);
    width: 150px;
    height: 200x;
    margin-top: -170px;
    margin-left: 1045px
}

.revmate2 {
    margin-top: 10px;
    margin-left: 1040px;
}

.line2 {
    height: 1px;
    width: 100px;
    background-color: gray;
    margin-left: 1065px;
    margin-top: 15px;
}

.revtext3 {
    font-size: 26px;
    font-weight: 800;
    margin-left: 1055px;
    margin-top: 10px;
    color: red;
}

.revtext4 {
    font-size: 14px;
    margin-left: 1080px;
    margin-top: 0px;
    color: black;
}

#button2 {
    margin-left: 1060px;
    margin-top: 15px;
    background-color: blueviolet;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 100px;
}

.signcontainer {
    background-color: #e5e5e5;
}

.signinlogo {
    background-color: #e5e5e5;
}

.maincont {
    height: 290px;
    width: 350px;
    background: url(/img/unknown.png);
    margin-left: 750px;
    margin-top: 150px;
    border-radius: 20px;
}

.land-text2 {
    margin-top: 500px;
    margin-bottom: 100px;
    margin-right: 800px;
    margin-left: 100px;
    margin-top: -200px;
}

.navbar-form2 {
    position: relative;
    margin-right: 80px;
}

.navbar-form-search2 {
    background: white;
    width: 100%;
    padding: 12px 20px;
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: -50px;
    border-radius: 10px;
    color: black;
    font-size: var(--fs-sm);
    font-weight: var(--fw-5);
}

.emaila {
    font-size: 14px;
    padding-top: 30px;
    padding-left: 30px;
}

.navbar-form3 {
    position: relative;
    margin-right: 80px;
}

.navbar-form-search3 {
    background: white;
    width: 100%;
    padding: 12px 20px;
    margin-top: 5px;
    margin-left: 20px;
    border-radius: 10px;
    color: black;
    font-size: var(--fs-sm);
    font-weight: var(--fw-5);
}

.passwordd {
    font-size: 14px;
    padding-top: 20px;
    padding-left: 30px;
}

#button3 {
    width: 260px;
    margin-left: 25px;
    margin-top: 20px;
    background-color: #8d9ac6;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 100px;
}

.create {
    font-size: 14px;
    margin-top: -80px;
    margin-left: 30px;
    margin-right: -20px;
}